:root{
    --darkViolet:#08001f;
    --lightViolet:#30197d;
    --white:#fff;
    --pink:#ff2cca;
    --blue: #18f0ff;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.base{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(45deg,var(--darkViolet),var(--lightViolet) );
    color: #fff;
    position: relative;
}

.container{
    width: 800px;
    height: 180px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.container::before{
    content: '';
    width: 180px;
    height: 180px;
    background: var(--pink);
    border-radius: 5px;
    position: absolute;
    left: -50px;
    top: -50px;
    z-index: -1;
}
.container::after{
    content: '';
    width: 180px;
    height: 180px;
    background: var(--blue);
    border-radius: 50%;
    position: absolute;
    right: -30px;
    bottom: -50px;
    z-index: -1;
}

.clock{
    width: 100%;
    height: 100%;
    background: rgba(235, 0, 255, 0.11);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(25px);
}
.clock span{
    font-size: 80px;
    width: 100px;
    display: inline-block;
    text-align: center;
    position: relative;
}
.clock span::after{
    font-size: 16px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
}

#Hrs::after{
    content: 'HOURS';
}
#Min::after{
    content: 'MIN';
}
#Sec::after{
    content: 'SEC';
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    /* For mobile phones: */

    .container{
        width: 280px;
        height: 150px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    
    .container::before{
        content: '';
        width: 100px;
        height: 100px;
        background: var(--pink);
        border-radius: 5px;
        position: absolute;
        left: -50px;
        top: -50px;
        z-index: -1;
    }
    .container::after{
        content: '';
        width: 100px;
        height: 100px;
        background: var(--blue);
        border-radius: 50%;
        position: absolute;
        right: -30px;
        bottom: -50px;
        z-index: -1;
    }
    
    .clock{
        width: 100%;
        height: 100%;
        background: rgba(235, 0, 255, 0.11);
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        backdrop-filter: blur(25px);
    }
    .clock span{
        font-size: 40px;
        width: 80px;
        display: inline-block;
        text-align: center;
        position: relative;
    }
    .clock span::after{
        font-size: 10px;
        position: absolute;
        bottom: -5px;
        left: 50%;
        transform: translateX(-50%);
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .container{
        width: 600px;
        height: 200px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    
    .container::before{
        content: '';
        width: 150px;
        height: 150px;
        background: var(--pink);
        border-radius: 5px;
        position: absolute;
        left: -50px;
        top: -50px;
        z-index: -1;
    }
    .container::after{
        content: '';
        width: 150px;
        height: 150px;
        background: var(--blue);
        border-radius: 50%;
        position: absolute;
        right: -30px;
        bottom: -50px;
        z-index: -1;
    }
}

